table {
    width: 600px;
    border-spacing:3px;
    
}

th caption {
    text-align:center;
}

table, th, td {
    border: 1px solid red;
}

th, td {
    padding: 3px;
}

body {
    background-image: url('About-Braden-Curtis/img/RepeatImg.png');
}

h2 {color:red;}
h1 {color:red;}
p {color:red;}
ul li {color:red;}
li b {color:red;}
br {color:red;  }
a {color: #ee0ac8;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}
a:active {text-decoration: underline;}
